section.contato{
    background-color: #527823;
    width: 100vw;
    display: flex;
}
div.contato_logo{
    height: 100%;
    width: 25%;
}
#dona_margharida{
    width: 100%;
    min-width: 75px;
}
div.contato_social{
    width: 75%;
    display: flexbox;
}
div.social{
    height: 20%;
    display: flex;
    margin: 1% 0 0 10%;
    text-align: center ;
}
img.social{
    width: 10%;
}
div.social a{
    font-size: 100%;
    margin: 1%;
    color: #ccc;
}